# Node.js dependencies
node_modules/

# Logs
*.log
logs/
npm-debug.log*
yarn-error.log
pids/
*.pid
*.seed
*.pid.lock

# Env files
.env
.env.local
.env.*.local

# Editor/IDE files
.vscode/
.idea/
.DS_Store
*.swp
